doctype 5
html(lang='ja')
	head
		title= 'Websocket Test Main'
		script(src='./lib/chikuwa.min.js')
	body
		div.poi
	style
		.poi {
			position:absolute;
			left:0;
			top:0;
			background-image: url("./module/img/poi.png");
			width:141px;
			height:244px;
		}
	script(src='./module/js/main.js')